<!-- footer -->
<footer class="footer-section footer reveal" style="background-image: url(assets/images/backgrounds/footer-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a routerLink="">
          <img class="img-fluid logo" src="assets/images/logo1.png" alt="logo">
        </a>
      </div>
      <!-- footer menu -->
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a routerLink="">Trang chủ</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="index.html">Hệ thống</a></li>
          <li class="list-inline-item"><a href="index.html">Quản lý</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="#team">Tin tức</a></li>
          <!--            <li class="list-inline-item"><a class="page-scroll" href="#pricing">Liên</a></li>-->
          <li class="list-inline-item"><a href="">Liên hệ</a></li>
        </ul>
      </nav>
      <!-- footer social icon -->
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item circle-icon">
            <a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item circle-icon">
            <a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li class="list-inline-item circle-icon">
            <a class="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          </li>
          <li class="list-inline-item circle-icon">
            <a class="black" href="#"><i class="fa-brands fa-github"></i></a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</footer>
<!-- /footer -->
