<!-- client logo slider -->
<section class="section">
  <div class="container" id="">
    <!--    <div class="client-logo-slider align-self-center">-->
    <!--    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"  [config]="slideConfig">-->
    <!--        <a href="#" class="text-center d-block outline-0 p-5" ngxSlickItem *ngFor="let image of images">-->
    <!--          <img [src]="image?.img" alt="client-logo">-->
    <!--        </a>-->
    <!--    </ngx-slick-carousel>-->
    <!--    </div>-->

    <div class="client-logo-slider align-self-center">
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-1.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-2.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-3.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-4.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-5.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-1.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-2.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-3.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-4.png"
                                                                 alt="client-logo"></a>
      <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid"
                                                                 src="assets/images/clients-logo/client-logo-5.png"
                                                                 alt="client-logo"></a>
    </div>
  </div>
</section>

<!-- /client logo slider -->
