<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="webjars/popper.js/2.9.3/umd/popper.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h1 style="margin: 40px 0; text-align: center">Danh sách bài hát</h1>
    <div class="row" style="height: 40px">
        <div class="col-6">
            <a type="button" class="btn btn-success" data-bs-toggle="modal"
               data-bs-target="#createModal">Thêm mới</a>
            <a class="btn btn-danger btn-delete" style="margin-left: 15px" data-bs-toggle="modal"
               data-bs-target="#deleteModal">Xóa</a>
        </div>
        <div class="col-6" style="line-height: 40px">
            <form action="" method="post" class="d-flex" style="margin-bottom: 0">
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example"
                            style="width: 200px">
                        <option value="name" selected>Tên bài hát</option>
                        <option value="singer">Nghệ sĩ thể hiện</option>
                        <option value="type">Thể loại nhạc</option>
                    </select>
                </div>
                <div class="col-8 d-inline-flex">
                    <input class="form-control me-3" type="search" placeholder="Search"
                           aria-label="Search" autofocus>
                    <button class="btn btn-primary" href="" type="submit" style="width: 120px">Tìm
                        kiếm
                    </button>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">
                <div class="form-check">
                    <input style="margin-top: 5px" class="form-check-input" type="checkbox"
                           id="checkAll">
                </div>
            </th>
            <th scope="col">No.</th>
            <th scope="col">Tên bài hát</th>
            <th scope="col">Nghệ sĩ thể hiện</th>
            <th scope="col">Thể loại nhạc</th>
            <th scope="col">Đường dẫn file bài hát</th>
            <th scope="col">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,rowStat : ${list}">
            <td>
                <div class="form-check">
                    <input class="form-check-input" value="${item.id}" type="checkbox">
                </div>
            </td>
            <td th:text="${rowStat.count}"></td>
            <td th:text="${row.getName()}"></td>
            <td th:text="${row.getSinger()}"></td>
            <td th:text="${row.getType()}"></td>
            <td th:text="${row.getPath()}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{/song/{id}/edit(id=${row.getId()})}">Sửa</a>
                <a class="btn btn-warning" th:href="@{/song/{id}/delete(id=${row.getId()})}">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>