<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Trang chủ</h1>

<!--Chưa xác thực-->
<!--Đã xác thực-->
<div sec:authorize="isAuthenticated()">
    <h2>Bạn đã đăng nhập</h2>
    <h2>Xin chào bạn: <span sec:authentication="principal.username"></span></h2>

    <!--Tài nguyên của role Admin-->
    <div sec:authorize="hasRole('ADMIN')" style="color: red">
        <button>Edit</button>
        <button>Create</button>
        <button>Delete</button>
    </div>

    <!--Tài nguyên của role User-->
    <div sec:authorize="hasRole('USER')" style="color: green">
        <button>View</button>
    </div>
</div>

</body>
</html>