<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/abc" method="post">
    <table>
        <tr>
            <td>Ten dang nhap</td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>Mat Khau</td>
            <td>
                <input type="text" name="password">
            </td>
        </tr>
        <tr>
            <td>Duy tri dang nhap</td>
            <td>
                <input type="checkbox" name="remember-me">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Dang Nhap</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>