<div class="row">


  <div class="col-4">

      <select class="form-select"  [(value)]="key" aria-label="Default select example">
        <option value="All">All</option>
        <option value="name">Product Name</option>
        <option value="price">Price</option>
        <option value="description">Quantity </option>
        <option value="category.name">Category</option>
      </select>

  </div>
  <div class="col-6">
    <div class="input-group">
      <input type="search" #element class="form-control border-end-0 border rounded-pill"
             placeholder="&#xF002; Search" aria-label="Username"
             aria-describedby="basic-addon1" [ngModel]="value" (change)="search(element.value)">
    </div>
  </div>
</div>




