<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">addEditModal
<body>
<!--    //Add Edit Modal-->
<div th:fragment="addEditModal()" id="addEditModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post" class="form_customer" th:object="${customerDto}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">

                        <div class="mb-3">
                            <label class="form-label customer_id">Customer Code</label>
                            <input class="form-control customer_id" name="id" th:field="*{customer_id}">
                            <label class="error" id="lbId" style="color: #fc9494"
                                   th:if="${#fields.hasErrors('customer_id')}"
                                   th:errors="*{customer_id}"></label>


                        </div>

                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input class="form-control customer_name" name="name" th:field="*{name}"/>
                            <label class="error" id="lbName" style="color: #fc9494" th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}"></label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Birthday</label>
                            <input type="text" class="date form-control customer_birthday" name="birthday"
                                   th:field="*{birthday}" autocomplete="off"/>
                            <label class="error" id="lbBirthday" style="color: #fc9494"
                                   th:if="${#fields.hasErrors('birthday')}"
                                   th:errors="*{birthday}"></label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <select id="gender" name="gender" th:field="*{gender}">
                                <option class="form-select" th:value="0" th:text="Male"></option>
                                <option class="form-select" th:value="1" th:text="Female"></option>
                                <option class="form-select" th:value="2" th:text="LGBT"></option>
                            </select>
                            <label class="error" id="lbGender" style="color: #fc9494"
                                   th:if="${#fields.hasErrors('gender')}"
                                   th:errors="*{gender}"></label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">ID Card</label>
                            <input class="form-control customer_card" name="id_card" th:field="*{idcard}"/>
                            <label class="error" id="lbIdCard" style="color: #fc9494"
                                   th:if="${#fields.hasErrors('idcard')}"
                                   th:errors="*{idcard}"></label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input class="form-control customer_phone" name="phone" th:field="*{phone}"/>
                            <label class="error" id="lbPhone" style="color: #fc9494"
                                   th:if="${#fields.hasErrors('phone')}"
                                   th:errors="*{phone}"></label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mail</label>
                            <input class="form-control customer_mail" name="mail" th:field="*{mail}"/>
                            <label class="error" id="lbmail" style="color: #fc9494" th:if="${#fields.hasErrors('mail')}"
                                   th:errors="*{mail}">Invalid Age</label>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            <input class="form-control customer_address" name="address" th:field="*{address}"/>
                            <label class="error" id="lbaddress" style="color: #fc9494"
                                   th:if="${#fields.hasErrors('address')}"
                                   th:errors="*{address}"></label>
                        </div>
                        <div class="mb-3 category-selection">
                            <label class="form-label">Type Customer</label>
                            <select name="category" class="form-select customer_category" th:field="*{customerTypeId}">
                                <option th:each="item:${cate}" th:value="${item.customer_type_id}"
                                        th:text="${item.name}"></option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>