<!-- hero area -->
<section class="hero-section hero" data-background=""
         style="background-image: url(assets/images/hero-area/banner-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 zindex-1">
        <h1 class="mb-3">
          Dự án lớp A1221I1</h1>
        <p class="mb-4">Đây là chương trình dùng để quản lí vật nuôi, tình trạng sức khỏe <br>
          và cũng như quản lí nhân viên</p>
        <a href="#newsletter" class="btn btn-secondary btn-lg page-scroll">ĐĂNG KÝ NGAY</a>

      </div>
      <div class="col-lg-6 col-sm-12 zindex-1 banner">
        <img class="img-fluid w-100 mt-4" style="border-radius:25%" src="assets/images/banner.png" alt="banner-img">
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div id="scene">
    <img class="img-fluid hero-bg-1 up-down-animation" src="assets/images/background-shape/feature-bg-2.png" alt="">
    <img class="img-fluid hero-bg-2 left-right-animation" src="assets/images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-3 left-right-animation" src="assets/images/background-shape/seo-half-cycle.png"
         alt="">
    <img class="img-fluid hero-bg-4 up-down-animation" src="assets/images/background-shape/green-dot.png" alt="">
    <img class="img-fluid hero-bg-5 left-right-animation" src="assets/images/background-shape/blue-half-cycle.png"
         alt="">
    <img class="img-fluid hero-bg-6 up-down-animation" src="assets/images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-7 left-right-animation" src="assets/images/background-shape/yellow-triangle.png"
         alt="">
    <img class="img-fluid hero-bg-8 up-down-animation" src="assets/images/background-shape/service-half-cycle.png"
         alt="">
    <img class="img-fluid hero-bg-9 up-down-animation" src="assets/images/background-shape/team-bg-triangle.png" alt="">
  </div>
</section>
<!-- /hero-area -->

<!-- feature -->
<section class="section feature mb-0" id="feature">
  <div class="container reveal">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">ƯU ĐIỂM CỦA ỨNG DỤNG</h2>
        <p class="mb-100">Dưới đây là lý do vì sao bạn nên chọn sản phẩm của chúng tôi<br>Benefits of choosing my
          product</p>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item team-member">
          <div>
            <i class="ti-ruler-pencil feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Giao diện thân thiện</h4>
            <p>Giao diện được thiết kế đơn giản, dễ sử dụng</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item team-member">
          <div>
            <i class="fa-solid fa-people-group feature-icon mr-4" style="padding-top: 20px"></i>
          </div>
          <div>
            <h4>Đội ngũ hỗ trợ kịp thời</h4>
            <p>Hỗ trợ khách hàng 24/24 một cách nhanh chóng</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item team-member">
          <div>
            <i class="ti-split-v-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Bảo mật cao</h4>
            <p>Được xây dựng dựa trên tiêu chuẩn ISO 27001:2013</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item team-member">
          <div>
            <i class="ti-layers-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Đầy đủ chức năng hệ thống</h4>
            <p>Bao gồm quản lý xuất nhập chuồng, tình trạng sức khỏe vật nuôi, cũng như quản lý nhân sự và nhiều tính
              năng khác</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="feature-bg-1 up-down-animation" src="assets/images/background-shape/feature-bg-1.png" alt="bg-shape">
  <img class="feature-bg-2 left-right-animation" src="assets/images/background-shape/feature-bg-2.png" alt="bg-shape">
</section>
<!-- /feature -->

<!-- marketing -->
<section class="section-lg seo">
  <div class="container reveal">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">

          <img class="img-fluid left-right-animation" src="assets/images/banner_livestock.png" alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="section-title">Quản lý thực phẩm, chăm sóc vật nuôi</h2>
        <p>Luôn đảm bảo vật nuôi khỏe mạnh, mau ăn chóng lớn<br>
          Thức ăn luôn được bảo quản,quản lý nghiêm ngặt theo tiêu chuẩn ISO, quản lý được tình trạng sức khỏe cho từng
          đàn
        </p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="assets/images/backgrounds/seo-bg.png" alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1 left-right-animation" src="assets/images/background-shape/seo-ball-1.png" alt="bg-shape">
  <img class="seo-bg-shape-2 up-down-animation" src="assets/images/background-shape/seo-half-cycle.png" alt="bg-shape">
  <img class="seo-bg-shape-3 left-right-animation" src="assets/images/background-shape/seo-ball-2.png" alt="bg-shape">
</section>
<!-- /marketing -->

<!-- service -->
<section class="section-lg service">
  <div class="container reveal">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Quản lý chuồng trại, bảo trì hệ thống</h2>
        <p class="mb-4">Đảm bảo vật nuôi luôn được sống trong môi trường tốt nhất, đảm bảo sức khỏe</p>
        <ul class="pl-0 service-list">
          <li><i class="fa-solid fa-photo-film text-purple"></i>Quản lý dễ dàng</li>
          <li><i class="fa-solid fa-screwdriver-wrench text-purple"></i>Khả năng nâng cấp, bảo trì cao</li>
          <li><i class="fa-solid fa-headset text-purple"></i>Hỗ trợ kịp thời</li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3 up-down-animation" src="assets/images/template2.png" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="assets/images/backgrounds/service-bg.png" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation" src="assets/images/background-shape/service-half-cycle.png"
       alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation" src="assets/images/background-shape/feature-bg-2.png"
       alt="background-shape">
</section>
<!-- /service -->

<!-- team -->
<section class="section-lg team" id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Tin tức</h2>
        <p class="mb-100">Tổng hợp các tin tức mới nhất về nông nghiệp<br>
          và các kỹ thuật tiên tiến nhất trên thế giới </p>
      </div>
    </div>
    <div class="col-10 mx-auto">


      <div class="team-slider" id="newsletter">
        <div slickContainer #slickController="slick" [slickConfig]="config">
          <ng-container *ngIf="slickController.initialize">
            <div class="team-member" style="height: 400px" slickItem *ngFor="let item of newsList">
              <a [routerLink]="['/news',item.id]">
                <div class="d-flex mb-4">
                  <div class="card mb-3">
                    <img class="card-img-top" src="{{item.source_url}}" alt="team-member">
                  </div>

                </div>
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text"><small class="text-muted">{{item.dateCreate | date:"dd/MM/yyyy"}}</small></p>
              </a>
            </div>

          </ng-container>
        </div>

      </div>
    </div>
  </div>
  <!-- backgound image -->
  <img src="assets/images/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg" >
  <!-- background shapes -->
  <img class="team-bg-shape-1 up-down-animation" src="assets/images/background-shape/seo-ball-1.png"
       alt="background-shape">
  <img class="team-bg-shape-2 left-right-animation" src="assets/images/background-shape/seo-ball-1.png"
       alt="background-shape">
  <img class="team-bg-shape-3 left-right-animation" src="assets/images/background-shape/team-bg-triangle.png"
       alt="background-shape">
  <img class="team-bg-shape-4 up-down-animation img-fluid" src="assets/images/background-shape/team-bg-dots.png"
       alt="background-shape">
</section>
<!-- /team -->



<!-- newsletter -->
<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Đăng ký qua thư điện tử</h2>
        <p class="mb-5">Nhận những cập nhật, tin tức và những ưu đãi hấp dẫn khác</p>
      </div>
      <div class="col-lg-8 col-sm-10 col-12 mx-auto">
        <form action="#">
          <div class="input-wrapper position-relative">
            <input type="email" class="newsletter-form"  placeholder="Vui lòng nhập mail">
            <button type="submit" value="send" class="btn newsletter-btn">Đăng kí</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img class="newsletter-bg-shape left-right-animation" src="assets/images/background-shape/seo-ball-2.png"
       alt="background-shape">
</section>
<!-- /newsletter -->

